* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main {
  height: 70%;
  width: 80%;
  background: linear-gradient(rgba(0 0 0 / 80), brown);
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin: auto;
  color: aliceblue;
  padding: 20px;
  border-radius: 20px;
}

#part1 {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 10px 0;
}

.currency-table {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: fit-content;
  margin-left: 15px;
}

.span {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

button {
  background-color: rgba(16, 70, 10, 0.973);
  color: aliceblue;
  padding: 10px 15px;
  font-size: 16px;
  width: fit-content;
  display: inline;
  border-radius: 10px;
}

.edit-note {
  width: 12vw;
}

.cashregister-div {
  padding: 12px 0;
  display: flex;
  gap: 15px;
  padding: 0 0 0 3%;
}

.currencystateandinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-state-of-cid {
  display: flex;
  gap: 10px;
  margin-left: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

/* .display-currency-div {
  display: none;
} */

.div-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.dollar-div {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.dollar {
  font-size: 20px;
  color: #fff;
  margin-left: 5px;
  color: rgba(189, 241, 183, 0.973);
}

#part2 {
  display: flex;
  column-gap: 5%;
  margin-left: 4%;
  justify-content: center;
  margin-top: 5%;
}

.div-cash,
.div-price {
  font-size: 20px;
  text-align: center;
  width: inherit;
}

#price,
#cash {
  height: 35px;
}

.div-status {
  margin-left: 45%;
  margin-top: 0;
}

.display-for-the-balance {
  text-align: center;
  color: aliceblue;
  font-size: 22px;
  /* margin-left: 8%; */
}

@media screen and (max-width: 768px) {
  .current-state-of-cid {
    font-size: 16px;
    width: 100%;
    background-color: #ccc;
  }

  .display-currency-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: block;
  }

  .currency-table {
    position: relative;
  }

  .button-currency {
    position: absolute;
    top: -60px;
    left: 170px;
    width: 18vw;
  }

  #part1 {
    display: block;
    padding: 10px 0;
  }

  .span {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-size: 15px;
    padding-right: 10px;
  }

  #main {
    min-height: 90%;
    justify-content: center;
    align-items: center;
  }

  #part2 {
    display: flex;
    column-gap: 5%;
    margin-left: 3%;
    justify-content: center;
    /* margin: 0; */
    width: 90%;
  }

  .div-status {
    margin: 0 auto;
  }

  button {
    font-size: 12px;
  }

  .balance {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .dollar-div {
    width: 40vw;
    text-align: center;
  }

  .current-state-of-cid {
    font-size: 16px;
    margin-left: 0%;
  }

  #part2 {
    margin-left: 11%;
  }

  .div-status {
    margin-left: 49%;
  }
}
